// 1. Tvoje varijable (Pre-uputstva za Bootstrap)
$primary: #d4af37; // Wellness Gold
$body-bg: #121212; // Punk Black
$body-color: #f8f9fa;

// 2. Uvoz Bootstrap-a iz node_modules
@import "../../node_modules/bootstrap/scss/bootstrap";